#page-login {
  height: 65vh;
  display: flex;
  align-items: stretch;
}
#page-login aside {
  height: 100%;
  display: flex;
  padding: 120px 80px;
  flex-direction: column;
  justify-content: center;
  background: var(--purple);
}

#page-login main {
  flex: 8;
  margin-top: 5em;
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: center;
}
.page-login-image {
  width: 40em;
  height: 50em;
}
.main-content {
  width: 100%;
  display: flex;
  max-width: 320px;
  align-items: stretch;
  flex-direction: column;
}
.main-content > img {
  align-self: center;
}
.main-content h2 {
  font-size: 24px;
  margin: 64px 0 24px;
  font-family: 'Poppins', sans-serif;
}
.main-content form input {
  height: 50px;
  padding-left: 1rem;
  border-radius: 8px;
  background: var(--white);
  border: 1px var(--input-border-color) solid;
  
  width: 18.8rem;
  margin-top: 18px;
  margin-bottom: 18px;
}
.main-content form button {
  width: 20rem;
}

.separator {
  font-size: 14px;
  color: var(--separator-color);;
  margin: 32px 0;
  display: flex;
  align-items: center;
}
.separator::before {
  content: '';
  flex: 1;
  height: 1px;
  background: var(--separator-color);;
  margin-right: 16px;
}
.separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background: var(--separator-color);
  margin-left: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  height: 50px;
  padding: 0 32px;
  border-radius: 8px;
  font-weight: 500;
}

.button-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  background: var(--green);
}

.button-google {
  color: var(--white);
  background: var(--red);
}

.button-google img {
  margin-right: 10px;
}

.button-google:hover {
  filter: brightness(0, 9);
}

h2 {
  font-size: 20px;
  font-weight: 600;
}
label {
  font-size: 18px;
}

