.buttonComponent{
    background-color: var(--button_background_color);

    border: 0;
    margin: 0;
    border-radius: 50px;
    width: 10em;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.buttonComponent:hover{
    opacity: 0.7;
}
.buttonComponentText{
    color: var(--buton_color);

    font-family: Baloo;
}