:root{
    --background_color: rgb(255, 255, 255);
    --button_background_color: rgb(0, 126, 255);
    --buton_color: rgb(255, 255, 255);
    
    --page-landing-title: rgb(92, 233, 106);

    --box-background-green: rgba(104, 201, 186, 0.103);
    --box-background-purple: rgba(155, 105, 226, 0.137);
    --use-mobile-background: rgb(148, 148, 148); 

    --title_color: rgb(33, 35, 83);
    --text_color: rgb(75, 93, 104);
  }
body {
    margin: 0;
    background-color: var(--background_color);
    color: var(--text_color);
  }
  