:root{
    --green: rgb(50, 183, 104);
    --green_dark: rgb(43, 122, 75);
    --green_light: rgb(218, 242, 228);
  
    --heading: rgb(82, 102, 90);
    --body_dark: rgb(115, 128, 120);
    --body_light: rgb(170, 178, 173);
    --text: rgb(0, 0, 0);
  
    --background: rgb(255, 255, 255);
    --background_dark: rgb(40, 44, 52);
    --shape: rgb(240, 240, 240);
    --white: rgb(255, 255, 255);
    --border: rgb(218, 220, 224);
  
    --gray: rgb(207, 207, 207);
    --dark_gray: rgb(177, 190, 206);
    --blue: rgb(61, 113, 153);
    --blue_light: rgb(235, 246, 255);
  
    --red: rgb(232, 63, 91);
  
    --blue: rgb(0,0,225);
  }