:root{
  --color: black;
  --background-color: white
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    color: var(--color);
    background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.dd-wrapper{
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

}
.dd-wrapper button{
  outline: none
}

.user-data{
  display:flex;
  flex-direction: row;

  align-items: center;
  text-align: center;
}
.userClickImage, .dd-header{

  margin-right: 1rem;
  border-radius: 50%;

  color: transparent;
  background-color: transparent;

  max-width: 4vw;
}

.login{
  margin-right: 1rem;
  max-width: 1em;
}
.nickname{
  text-transform: capitalize;
  padding-left: 10%;
}
.dd-list{
  background-color: rgb(0, 0, 255);

  text-align: center;

  position: absolute;
  top: 12%;
  margin-right: 5%;
  border-radius: 5%;

  width: max-content;
  padding: 1%;
}
.dd-list-item{
  text-decoration: none;
  cursor: pointer;
}
.dd-list-item:hover{
  border-bottom: 1px rgb(255, 0, 0) solid;
}
.dd-list-itens{
  display: flex;
  flex-direction: column;
}
.dd-header{
  border: 0;
  border-color: green;
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(40, 44, 52);
}

.title, .login{
  font-size: 2em;
  text-decoration: none;
  color: rgb(0, 255, 0);

  transition: 1s;
}

.login{
  font-size: 1em  
}
.title:hover{
  color: rgb(116, 123, 138);
}
.footer {
  width: 100%;
  padding-top: 1%;
}

.footer-footer{
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
  color: rgb(0, 255, 0);
  
  background-color: rgb(40, 44, 52);
}
.footer-button{
  border: 0;
  padding: 1%;
  border-radius: 2px;
  color: rgb(255,255,255);
  background-color: rgb(33, 150, 243);

  transition: 1s;
}
.footer-button:hover{
  background-color: rgb(125, 193, 248);
}
.footer-footer h3 {
  font-size: 1.2em;
}
.list div{
  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: center;

  border-bottom: 1px solid var(--color);

  width: 25vw;

  padding: 1%;
}
.value-name{
  font-size: 1em;
}

.value{
  padding-left: 0.2em;
  flex-direction: row;
  color: rgb(33, 150, 243);
}

.value-img{
  position: absolute;
  top: 20%;
  left: 30%;

  border-radius: 50%;

  width: 10vw;
  height: 10vh;
}
.classes{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 0 auto;
  border: 1px  solid #dadce0; 
  border-radius: 8px;
  width: 400px;
  margin-bottom: 1%;
  margin-top: 1%;
}
.activities-cards{
  margin: 1%;
  padding: 1%;
}

.activities-info{
  display: block;
}
.activities-name{
  text-align: center;
}
.activities-description{
  text-align: center;
  font-size: .8em;
}
.loading {
  background-color: #1e6cc7;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.bookshelf_wrapper {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.books_list {
  margin: 0 auto;
  width: 300px;
  padding: 0;
}

.book_item {
  position: absolute;
  top: -120px;
  box-sizing: border-box;
  list-style: none;
  width: 40px;
  height: 120px;
  opacity: 0;
  background-color: #1e6cc7;
  border: 5px solid white;
  transform-origin: bottom left;
  transform: translateX(300px);
  -webkit-animation: travel 2500ms linear infinite;
          animation: travel 2500ms linear infinite;
}
.book_item.first {
  top: -140px;
  height: 140px;
}
.book_item.first:before, .book_item.first:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
}
.book_item.first:after {
  top: initial;
  bottom: 10px;
}
.book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.book_item.second:after, .book_item.fifth:after {
  top: initial;
  bottom: 10px;
}
.book_item.third:before, .book_item.third:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}
.book_item.third:after {
  top: initial;
  bottom: 10px;
}
.book_item.fourth {
  top: -130px;
  height: 130px;
}
.book_item.fourth:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.book_item.fifth {
  top: -100px;
  height: 100px;
}
.book_item.sixth {
  top: -140px;
  height: 140px;
}
.book_item.sixth:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 31px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: white;
}
.book_item.sixth:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}
.book_item:nth-child(2) {
  -webkit-animation-delay: 416.6666666667ms;
          animation-delay: 416.6666666667ms;
}
.book_item:nth-child(3) {
  -webkit-animation-delay: 833.3333333333ms;
          animation-delay: 833.3333333333ms;
}
.book_item:nth-child(4) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.book_item:nth-child(5) {
  -webkit-animation-delay: 1666.6666666667ms;
          animation-delay: 1666.6666666667ms;
}
.book_item:nth-child(6) {
  -webkit-animation-delay: 2083.3333333333ms;
          animation-delay: 2083.3333333333ms;
}

.shelf {
  width: 300px;
  height: 5px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
.shelf:before, .shelf:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e6cc7;
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 -2.5px;
  top: 200%;
  left: 5%;
  -webkit-animation: move 250ms linear infinite;
          animation: move 250ms linear infinite;
}
.shelf:after {
  top: 400%;
  left: 7.5%;
}

@-webkit-keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}

@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10px;
  }
}
@-webkit-keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}
@keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }
  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }
  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }
  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }
  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }
  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }
  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }
  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }
  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }
  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }
  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}

.page-login{
  background-color: rgb(115, 255, 0);
  width: 100%;
  height: 100%;
}
.login-form{
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  margin-top: 1%;
}
.login-button{
  margin: 1%;
  border: 0;
  transition: 1s;
  background-color: transparent;
  font-size: 1em;
}
.login-button:hover{
  color: rgb(114, 101, 101);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.labels{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 1s;
  margin: 1%;
  font-size: 1em;
}
.labels Input{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 1em;
  text-align: center;
  padding: 2%;
  margin: 1%
}
.utils{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 1s;
  margin: 1%;
  font-size: 1em;
}
.utils-links{
  color: rgb(0, 0, 255);
}
.utils-links:hover{
  border-bottom: 1px blue solid;
}
.inputbox-form{
  display: flex;
  flex-direction: column;

}
.activities-button{
  margin-top: 5%;
  background-color:rgb(177, 190, 206);
  border: 0;
  color: black;
  border-radius: 5px;
  padding: 5%;

  transition: 1s
}
.activities-button:hover{
  background-color: rgb(107, 112, 119);
  color: rgb(177, 190, 206);
  border-bottom: 1px solid black;
}
.checkbox-select{
  text-align: center;
  padding: 5%;
  width: max-content;
  border: 0;
  border-radius: 5px;
  background-color:rgb(177, 190, 206);
  color: black;
}
.error, .notfound{
  align-items: center;
  text-align: center;

  background-color: rgb(30, 255, 0);
}
.error-title{
  color: rgb(255, 0, 0);
  padding: 5%;
  font-size: 2em;
}
.paragraph{
  padding: 5%;
  font-size: 1em;
}
.link{
  font-size: 1em;
  color: rgb(0, 0, 255);
}
.link:hover{
  border-bottom: 1px solid rgb(0, 0, 255);
}