.header-container {
  display: flex;
  padding: 0 1rem;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--header-border);
}
.header-subcontainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

.header-title {
  font-size: 2em;
  text-decoration: none;
  color: var(--title-color);
}
.header-texts {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--text_color);
  transition-duration: 1000s;
}
.header-texts:hover {
  text-decoration: underline;
}
.buttons {
  margin-left: 1rem;
  text-align: center;
  align-items: center;
}
